doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="short icon" href="../resource/image/sprite/latter.svg")
        link(rel="stylesheet" href="../css/fixed.css")
        link(rel="stylesheet" href="../css/general.css")
        title 火の雷
    body 
        div
            h1 火の雷
            a(href="/in" target="_blank") -----sign in-----
            a(href="/up" target="_blank") -----sign up-----